header{
    background-color: #E6E6E6;
}

img{
    margin: auto;
    display: block;
}

h1, h2{
    background-color: #C4C4C4;
    color: #005677;
    text-transform: uppercase;
}

h1{
    text-align: center;
}

.datos_personales{
    font-style: italic;
}

footer{
    background-color: #005677;
    color: white;
    text-align: center;
}