<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre Mi</title>
</head>
<body>
    <header>
        <section></section>
        <nav>
            <a href="../index.html">Inicio</a>
        </nav>
    </header>
    <main>
        <h1>Sobre Mi</h1>
        <p>
            Soy Ingeniero electrónico con experiencia en el análisis, 
            formulación y desarrollo de proyectos tecnológicos relacionados 
            con el sector agro que permiten el mejoramiento de la productividad 
            a través del análisis de datos y automatización de procesos.
        </p>
        <p>
            Tengo alguna experiencia en programas sociales, 
            que permiten el mejoramiento de la calidad de vida de las comunidades
            y el fortalecimiento de modelos asociativos, con conocimiento en gestión 
            y control de procesos, capacidad investigativa y aptitud de aprender y 
            compartir conocimiento, con interés en participación  en el desarrollo 
            de proyectos de software y afines.
        </p>
        <p>
            Me gusta el campo, la naturaleza, con interés en temas de tecnología, agricultura y
            ganadería.
            Disfrutar un buen café caliente en hermosos paisajes y buena compañía, 
            siempre será un buen plan.
        </p>
    </main>
    <footer>
        <section>
            2021
            <a href="https://www.linkedin.com/in/mauricio-grisales-salazar-421829135"><img src="../img/ico_linkedin.png" alt="Icono_Linkedin"></a>
        </section>
    </footer>
    
</body>
</html>