/* Estilo principal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

html {
    /* Clase 10 */
    position: relative;
    width: 1024px;
    height: 1024px;

    background: #FFFFFF;
}

/*Estilos del header*/
.descuentos{
    /* Descuentos */
    position: absolute;
    width: 1024px;
    height: 38px;
    left: 0px;
    top: 0px;

    background: #1CD1B0;
}

.descText{
    position: absolute;
    width: 111px;
    height: 18px;
    left: 10px;
    top: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.heroes{
    /* Heroes */
    position: absolute;
    width: 1024px;
    height: 101px;
    left: 0px;
    top: 38px;

    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.heroesText{
    position: absolute;
    width: 128px;
    height: 47px;
    left: 28px;
    top: 25px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}
/*Estilos del main*/

.heart1, .heart2, .heart3{
    position: relative;
    left: 7%;
    right: 0%;
    top: 8.25%;
    bottom: 6.25%;    
    font-size: 30px;
    color: #CC2424;
}

.personajes{
    position: relative;
    width: 960px;
    height: 532px;
    left: 0px;
    top: 290px;
}

.batmanCont1, .harleyCont, .batmanCont2{
    position: absolute;
    width: 300px;
    height: 529px;
}

.batman1, .harley, .batman2{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.batmanFondo1, .harleyFondo, .batmanFondo2{
    position: static;
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}

.batmanMidCont1, .harleyMidCont, .batmanMidCont2{
    position: static;
    width: 300px;
    height: 336px;

    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.batTitulo1, .harleyTitulo, .batTitulo2{
    position: absolute;
    width: 122px;
    height: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.batText1, .harleyText, .batText2{
    position: absolute;
    width: 267px;
    height: 113px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}
.btnVer1, .btnVer2, .btnVer3{
    position: absolute;
    width: 128.78px;
    height: 48.52px;

    background: #00669F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #F3F3F3;
}

.batmanCont1{    
    left: 32px;
    top: 0px;
} 

.batman1{
    left: 90px;
    top: 160px;

}

.batmanFondo1{
    left: 32px;
    top: 291px;
    background: url("../img/fondo1.png");
}

.batmanMidCont1{
    left: 32px;
    top: 483px;
}

.btnVer1{
    left: 80px;
    top: 480px;
}
.batTitulo1{
    left: 91px;
    top: 290px;
} 

.batText1{
    left: 18px;
    top: 340px;
}

.harleyCont{
    left: 362px;
    top: 2px;
} 

.harley{
    left: 90px;
    top: 160px;
}

.harleyFondo{
    left: 362px;
    top: 293px;
    background: url("../img/fondo2.png");
}

.harleyMidCont{
    left: 362px;
    top: 485px;
}

.harleyTitulo{
    width: 171px;
    height: 35px;
    left: 61px;
    top: 290px;
} 

.harleyText{
    left: 18px;
    top: 340px;
}

.btnVer2{
    left: 80px;
    top: 480px;
}

.batmanCont2 {
    left: 692px;
    top: 3px;
}

.batman2{
    left: 90px;
    top: 160px;
 }
.batmanFondo2{
    left: 692px;
    top: 294px;
    background: url("../img/fondo1.png");
}

.batmanMidCont2{
    left: 692px;
    top: 486px;
}

.batTitulo2{
    left: 91px;
    top: 290px;
}

.batText2{
    left: 18px;
    top: 340px;
}

.btnVer3{
    left: 80px;
    top: 480px;
}

/*Estilos del footer*/
footer{
    position: absolute;
    width: 1024px;
    height: 51px;
    left: 0px;
    top: 972px;

    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textFooter{
    position: absolute;
    width: 337px;
    height: 19px;
    left: 16px;
    top: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFF9F9;
}